
.home_tile{
    font-size: 40px;
    margin-top: 100px;
}


.category-title{
    margin-top: 20ppx;
    font-size: 18px;
}
.category-list{
    margin-top: 50px;
}
.category-list .category-title{
    border: 1px solid black;
    margin: 20px;
    width: 150px;
    background-color: black;
}
.category-list .category-title a{
    font-size: 18px;
    padding: 30px 20px;
}